body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Ajustez selon la hauteur de votre navbar */
    background-color: #333;
    color: #fff;
    z-index: 1000; /* S'assure que la navbar est au-dessus de tout le reste */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.sidebar {
    position: fixed;
    top: 60px; /* Ajustez selon la hauteur de votre navbar */
    left: 0;
    width: 200px; /* Ajustez selon la largeur de votre sidebar */
    height: calc(100% - 1%); /* Ajustez selon la hauteur de votre navbar */
    background-color: #222;
    color: #fff;
    z-index: 900; /* S'assure que la sidebar est au-dessus du contenu mais en dessous de la navbar */
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

#cata {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* espace entre les cartes */
    padding: 20px; /* espace autour des cartes */
    margin-left: 350px; /* Largeur de la sidebar + un peu de marge */
    margin-top: 80px; /* Hauteur de la navbar + un peu de marge */
    justify-content: center; /* centre les cartes horizontalement */
}

#cata .movies_card{
    width: 250px;
    min-width: 250px;
    height: 320px;
    background-color: #202021;
    border-radius: 15px;
    margin-right: 25px;
    flex-direction: column; /* permet à l'image et aux autres éléments d'être en colonne */
    align-items: center; /* centre les éléments horizontalement */
    margin-bottom: 20px; /* espace en bas de chaque carte */
}
#img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

@media (max-width: 1600px) {
    #cata .movies_card {
        flex: 0 1 250px; /* 3 cartes par ligne */
        margin-right: 1.5%; /* Assure l'espace entre les cartes */
    }
}

@media (max-width: 1300px) {
    #cata .movies_card {
        flex: 0 1 250px; /* 2 cartes par ligne */
        margin-right: 2.5%; /* Assure l'espace entre les cartes */
    }
}

@media (max-width: 950px) {
    #cata{
        margin-left: 0;
    }
}

/* Media Query pour les écrans jusqu'à 1050px de large */
@media (max-width: 1050px) {
    #search_bar {
        width: 300px;
    }

    #recherche {
        width: 300px;
    }
}

/* Media Query pour les écrans jusqu'à 1000px de large */
@media (max-width: 1000px) {
    #search_bar {
        width: 300px;
    }

    #recherche {
        width: 300px;
    }
}

/* Media Query pour les écrans à partir de 950px de large */
@media (min-width: 950px) {
    #sidebar {
        margin-left: 0px !important;
    }
}

/* Media Query pour les écrans jusqu'à 950px de large */
@media (max-width: 950px) {
    /* Styles pour les éléments section */
    section {
        padding: 90px 0 0 10px;
    }

    /* Styles pour les éléments nav avec la classe sidebar */
    nav.sidebar {
        margin-left: -250px;
    }

    #sidebar {
        margin-left: -250px;
    }

    #hamburgeur {
        display: flex;
        margin-right: 20px;
    }

    #logoPng{
        margin-right: 0;
    }

    #WebsiteH1 {
        display: none;
    }

    nav.navbar .nav_left {
        width: auto;
    }
}

/* Media Query pour les écrans jusqu'à 768px de large */
@media (max-width: 768px) {
    .video-container h1#titre {
        font-size: 24px;
    }

    .video-container h3#desc {
        font-size: 16px;
    }
}

/* Media Query pour les écrans jusqu'à 680px de large */
@media (max-width: 680px) {
    #search_bar {
        width: 150px;
    }

    #recherche {
        width: 150px;
    }

    #CategoriesTag {
        margin-left: -40px;
    }
}

/* Media Query pour les écrans jusqu'à 490px de large */
@media (max-width: 490px) {
    #logoPng {
        display: none;
    }
}
