@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #151517;
    color: #FEFEFE;
}

#ann_1325 {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4B9168; /* Couleur de la poignée */
    border-radius: 6px; /* Bord arrondi de la poignée */
}

::-webkit-scrollbar-track {
    background-color: #202021; /* Couleur de la piste de défilement */
}

/* Firefox */
* {
    scrollbar-color: #4B9168 #202021;
}

/* Edge et IE */
* {
    scrollbar-face-color: #4B9168; /* Couleur de la poignée */
    scrollbar-track-color: #202021; /* Couleur de la piste de défilement */
}

.hide-element {
    display: none !important;
}

#rechercheTag {
    margin-top: 5px;
    position: absolute;
    width: 150px;
    height: 500px;
    background-color: grey;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

#action {
    background-color: #151517;
    width: 100%;
    height: 30px;
    border-width: 2px;
    border-color: #366D4F;
    border-radius: 0px;
}

#a1, #a2, #a3, #a4 {
    visibility: hidden;
}

#img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* Container for video page */
.video-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
    background-color: #202021;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.video-container h1#titre {
    font-size: 36px;
    margin-bottom: 20px;
}

.selectors {
    margin-bottom: 20px;
}

.selectors select {
    width: 200px;
    height: 35px;
    margin: 0 10px;
    border-radius: 5px;
    border: none;
    background-color: #151517;
    color: #77767B;
    padding: 5px 10px;
}

iframe#video {
    margin: 20px 0;
    border-radius: 10px;
    border: 2px solid #4B9168;
}

.video-container h3#desc {
    font-size: 18px;
    margin-top: 20px;
}

/* Additional responsive design */
@media (max-width: 768px) {
    .video-container iframe {
        width: 100%;
        height: auto;
    }
}
